*{
    padding: 0;
    margin: 0;
}
#game{
    width: 900px;
    height: 300px;
    border:1px solid black;
    background-image: url("https://ic.pics.livejournal.com/rhunwolf/5732212/937222/937222_original.gif");
    background-size:cover;
}
#character{
    width: 120px;
    height: 110px;
    background-size:cover;
    background-position: center;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/016/136/150/original/paulo-silva-ninja-run.gif?1551046441");
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump {
    0%{top: 150px}
    30%{top: 100px}
    70%{top: 100px}
    100%{top: 150px}
}
#block{
    width: 50px;
    height: 60px;
    background-image: url("https://i.gifer.com/5Mz4.gif");
    background-size:cover;
    background-position: center;
    position: relative;
    top: 100px;
    left: 480px;
    animation: block 1s infinite;
}

@keyframes block {
    0%{left: 780px;}
    100%{left: -40px;}
}